.JoinDiscord {
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding: 3px 15px;
  cursor: pointer;
}

.JoinDiscord:hover {
  color: white;
}

.JoinDiscord svg {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}