#root {
  position: fixed;
}

.explorer-website-start {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/background-v4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.explorer-website-start .start-banner-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.explorer-website-start .ui.loader:after {
  border-color: #540880 transparent transparent !important;
}

.explorer-website-start .start-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px;
  padding-right: 40px;
  height: 100%;
}

.explorer-website-start .start-wearable-preview {
  height: 100%;
  width: 50%;
  position: relative;
  right: 8%;
}

.explorer-website-start .start-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explorer-website-start .start-links .ui.button {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.explorer-website-start .start-links .ui.button.inverted {
  color: white;
  border-color: white;
}

.explorer-website-start .start-title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.explorer-website-start .start-desktop-download {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 300;
  gap: 10px;
  border-top: 1px solid white;
  padding-top: 20px;
  width: fit-content;
  letter-spacing: 1px;
}

.explorer-website-start .start-desktop-download a span {
  text-decoration: underline;
  color: white;
}

.explorer-website-start .start-links .icon:before {
  font-size: 20px;
}

.explorer-website-start .start-links .icon {
  width: fit-content;
  height: fit-content;
  opacity: 1;
}

.start-community-bubble {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.ui.dimmer.explorer-alpha-notice-dimmer {
  background-color: rgba(0, 0, 0, 0.5);
}

.ui.modal.explorer-alpha-notice {
  width: 480px;
}

.ui.modal.explorer-alpha-notice .content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 0px;
  align-items: stretch;
}

.ui.modal.explorer-alpha-notice .content .header {
  text-align: center;
  margin-bottom: 24px;
}

.ui.modal.explorer-alpha-notice .content .header .icon {
  background-image: url('./images/launch-desktop.svg');
  width: 225px;
  height: 150px;
  margin-bottom: 12px;
}

.ui.modal.explorer-alpha-notice .content .header .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.52px;
  text-align: center;
  margin-bottom: 24px;
}

.ui.modal.explorer-alpha-notice .content .header .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #5d5b67;
  margin-bottom: 24px;
}

.ui.modal.explorer-alpha-notice .content .actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ui.modal.explorer-alpha-notice .content .actions .ui.button + .ui.button {
  margin: 0px;
}
.ui.modal.explorer-alpha-notice .content .actions .ui.button:hover {
  transform: none;
  box-shadow: none;
}

.ui.modal.explorer-alpha-notice .content .actions .ui.button:not(.primary) {
  background-color: transparent;
  color: var(--primary);
}

.ui.modal.explorer-alpha-notice .content .actions .ui.button:not(.primary):hover {
  background-color: rgba(var(--summer-red-raw), 0.1);
}
