#root {
  position: fixed;
}

.explorer-website-start {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(70% 108% at 90% 50%, #ff00f5 0%, #540880 100%);
  display: flex;
  align-items: center;
}

.explorer-website-start .ui.loader:after {
  border-color: #540880 transparent transparent !important;
}

.explorer-website-start .start-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 150px;
  padding-right: 40px;
  height: 100%;
}

.explorer-website-start .start-wearable-preview {
  height: 80vh;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explorer-website-start .start-wearable-preview::before {
  border-radius: 595.795px;
  opacity: 0.6;
  background: #ff00f5;
  filter: blur(126.40625px);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.explorer-website-start .start-wearable-preview iframe {
  background: transparent;
}

.explorer-website-start .start-wearable-preview.loading iframe {
  display: none;
}

.start-wearable-preview .wearable-default-img {
  filter: blur(5px);
  display: flex;
  align-self: center;
  max-height: 660px;
  opacity: 0;
  position: absolute;
  transition: ease-out 2s;
}

.start-wearable-preview.loading .wearable-default-img {
  opacity: 0.9;
}

.explorer-website-start .start-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explorer-website-start .start-links .ui.button {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.explorer-website-start .start-links .ui.button.inverted {
  color: white;
  border-color: white;
}

.explorer-website-start .start-title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  line-height: normal;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.explorer-website-start .start-desktop-download {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 300;
  gap: 10px;
  border-top: 1px solid white;
  padding-top: 20px;
  width: fit-content;
  letter-spacing: 1px;
}

.explorer-website-start .start-desktop-download a span {
  text-decoration: underline;
  color: white;
}

.explorer-website-start .start-links .icon:before {
  font-size: 20px;
}

.explorer-website-start .start-links .icon {
  width: fit-content;
  height: fit-content;
  opacity: 1;
}

.explorer-website-start .discord-link-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  color: white;
  border-radius: 12px;
  padding: 14px;
  background: #161518;
  align-items: flex-end;
  gap: 5px;
}

.explorer-website-start .discord-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.explorer-website-start .discord-icon {
  font-size: 28px;
}

.explorer-website-start .wearable-platform {
  bottom: 0;
  left: calc(50% - 250px);
  position: absolute;
  z-index: -1;
}
