main.LoginContainer {
  position: relative;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 790px;
  background-size: cover;
  background-color: transparent;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-image: url('../../images/background-v2@1x.jpg');
  background-image: url('../../images/background-v2@1x.jpg');
  background-image: -webkit-image-set(
      url('../../images/background-v2@1x.jpg') 1x,
      url('../../images/background-v2@2x.jpg') 2x,
      url('../../images/background-v2@3x.jpg') 3x,
      url('../../images/background-v2@4x.jpg') 3x
    );
  background-image: image-set(
      url('../../images/background-v2@1x.jpg') 1x,
      url('../../images/background-v2@2x.jpg') 2x,
      url('../../images/background-v2@3x.jpg') 3x,
      url('../../images/background-v2@4x.jpg') 4x
    );
}

.LoginContainer * {
  box-sizing: content-box;
}

.LoginContainer button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.LoginContainer > .eth-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100% - 128px);
  margin: 64px auto;
}

.LoginContainer > .eth-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.LoginContainer .LogoContainer {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 29px;
  color: white;
  padding: 50px 0;
}

.LoginContainer .LogoContainer p {
  color: white;
  margin-top: 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  letter-spacing: 1px
}

.LoginContainer .LoginItemContainer {
  margin: 0 30px
}

@media screen and (min-height: 900px) {
  main.LoginContainer {
    align-items: flex-start;
  }

  main.LoginContainer > .eth-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    /* height: calc(100% - 128px); */
    /* margin: 64px auto; */
  }

  .LoginContainer > .eth-container > div {
    margin-top: 152px;
    margin-bottom: 96px;
  }
}